// ********* Navigation ********* //
/*

1. Variable
2. General
3. Animation
4. NavBar
5. Song list Box
6. Radio Controller

*/
// ****************************** //

// ********* Variable ********* //
$FONT_FAMILY: "Roboto", sans-serif;
$PRIMARY_COLOR: #264fff;
$SECONDARY_COLOR: #b38f00;
$TEXT_COLOR: #000;
$BACKGROUND_COLOR: linear-gradient(to right, #ffcc01, #f1d14e, #fecd04);

// ********* General ********* //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $FONT_FAMILY;
  font-size: 20px;
  background-image: $BACKGROUND_COLOR;
  background-image: url("../../assests/image/cover.jpg");
  color: $TEXT_COLOR;
  font-size: 16px;
  background-size: cover;
  background-position: center;
  background-position-x: -150px;

  @media (max-width: 1500px) {
    background-position-x: -200px;
  }

  @media (max-width: 1200px) {
    background-position-x: -275px;
  }

  @media (max-width: 1100px) {
    background-position-x: center;
    background-image: url("../../assests/image/cover2.jpg");
  }

  // @media (max-height: 970px) {
  //   background-position-x: -100px;
  // }

  background-repeat: no-repeat;
  height: 100vh;

  @media (min-width: 900px) {
    min-height: 800px;
  }
}

// ********* Animation ********* //

@keyframes airAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-125%);
  }
}

// ********* NavBar ********* //

.nav-bar {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  @media (max-width: 900px) {
    padding: 20px 15px;
  }

  .logo {
    width: 100px;
  }

  .dj-info-login {
    display: flex;
    align-items: center;

    .dj-info {
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-right: 30px;

      img {
        height: 35px;
        border-radius: 50%;
        margin-right: 5px;

        @media (max-width: 600px) {
          display: none;
        }
      }

      p {
        animation-name: airAnim;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        position: relative;
        padding: 5px;

        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    .login {
      display: flex;
      align-items: center;
      font-weight: 500;
      cursor: pointer;

      i {
        font-size: 22px;
        margin-right: 10px;
        // color: $PRIMARY_COLOR;
        transform: translateX(100%);
        transition: 0.5s;
      }

      p {
        opacity: 0;
        transform: translateX(-100%);
        transition: 0.5s;
      }

      &:hover {
        i {
          opacity: 0.7;
          transform: translateX(0%);
        }

        p {
          transform: translateX(0%);
          opacity: 1;
        }
      }
    }
  }
}

// ********* Song List Box ********* //
.song-list-box {
  padding: 30px 35px;
  position: absolute;
  right: 10vw;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  margin: auto;
  width: 475px;
  height: 525px;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @media (max-width: 1450px) {
    right: 50px;
  }
  @media (max-width: 1300px) {
    right: 50px;
  }

  @media (max-width: 1100px) {
    width: 90%;
    right: 0;
    left: 0;
    height: 70vh;
  }

  @media (max-width: 900px) {
    width: 95%;
  }

  @media (max-width: 600px) {
    padding: 15px;
    height: 50vh;
  }

  .box-body {
    overflow-y: scroll;
    height: 90%;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 400px) {
      height: 75%;
    }
  }

  h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .song-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 3px solid #e8e8e8;
    transition: 0.5s;

    @media (max-width: 400px) {
      padding: 10px 0;
    }

    &:hover {
      background-color: #e8e8e8;
    }

    .left {
      display: flex;
      align-items: center;

      .circle {
        height: 50px;
        width: 50px;
        background-color: $PRIMARY_COLOR;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: #fff;
          margin-left: 5px;

          @media (max-width: 400px) {
            font-size: 10px;
            margin-left: 2px;
          }
        }

        @media (max-width: 400px) {
          height: 35px;
          width: 35px;
        }
      }

      .wrapper {
        max-width: 250px;
        overflow: hidden;
      }

      .name {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
        white-space: nowrap;
        position: relative;
        display: flex;

        .another {
          position: absolute;
          left: 100%;
          margin-left: 25%;
        }
      }

      .artist {
        opacity: 0.7;
        font-weight: 500px;
        font-size: 12px;
      }
    }

    .right {
      .time {
        opacity: 0.6;

        @media (max-width: 400px) {
          font-size: 14px;
        }
      }
    }
  }

  .active {
    position: relative;
    border: 0px;
    padding-bottom: 20px;

    .name {
      animation: moveSlideshow 12s linear infinite;
    }

    &:after {
      content: "";
      width: 100%;
      height: 5px;
      background-color: #9e9e9e;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .duration-bar {
      width: 100%;
      height: 5px;
      border-bottom: 5px solid $PRIMARY_COLOR;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      width: 0%;
    }
  }
}

// ********* Radio Controller ********* //

.radio-controller {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #212121;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  @media (max-width: 900px) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 600px) {
    height: 60px;
  }

  .left {
    height: 100%;
    display: flex;
    align-items: center;

    .image-cover {
      background-color: white;
      height: 100%;
      width: 80px;
      margin-right: 10px;

      @media (max-width: 600px) {
        width: 60px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .name {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 5px;
      white-space: nowrap;
    }

    .artist {
      opacity: 0.7;
      font-weight: 500px;
      font-size: 12px;
    }
  }

  .middle {
    justify-self: center;
    text-align: center;

    @media (max-width: 900px) {
      margin-right: 15px;
    }

    i {
      font-size: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    .time {
      display: flex;
      justify-content: space-between;

      @media (max-width: 900px) {
        display: none;
      }
    }

    .duration-bar {
      width: 350px;
      height: 4px;
      margin-top: 5px;
      background-color: rgba(255, 255, 255, 0.541);
      position: relative;

      .bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $PRIMARY_COLOR;
        width: 0%;
      }

      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  .right {
    border-left: 2px solid rgba(255, 255, 255, 0.541);
    padding: 5px 30px 5px 20px;
    justify-self: flex-end;
    position: relative;

    i {
      font-size: 25px;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  .volume-slider {
    position: absolute;
    right: -100%;
    top: 0%;
    transform: translateY(-100%);
    background-color: hsla(0, 0%, 13%, 0.95);
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.541);
    display: flex;
    align-items: center;
    z-index: -1;
    transition: 0.5s linear;

    input {
      margin-left: 10px;
    }
  }

  .active {
    right: 0%;
  }
}
